<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Hi, this is the main page for the animals database</h1>
    <div>
        <p>Please use "<code>/&lt;animal_id&gt;/"</code> in the address bar for the short result display.
        For example: /A685067/</p>
        <p>Please use "<code>/&lt;animal_id&gt;/full/"</code> in the address bar for the full result display. For example: /A685067/full/</p>
    </div>
</body>
</html>